<!DOCTYPE html>
<html>
<head>
	<title>TEST ADD DETAIL TEMPLATE</title>
</head>
<body bgcolor="#F0FFF0">
	
	{% if detailFormatTemplate %}
		<div class ="row">
		  <div class ="col-35">
		    <label for="kodeReport">Kode Report : </label>
		  </div>

		  <div class="col-55">
		        <input type="text" class = "col-10" id="kodeLaporan" name="kodLap" value="{{row['reportId']}}" placeholder="{{row['reportId']}}" style="width: 120px">
		  </div>
		</div>
	{% endif %}
</body>
</html>