<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>List Task</title>
</head>
<body bgcolor="#F0FFF0">
	<div class="topnav"><ul>
        <li><a href="menu">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTask">AVAILABLE TASK</a>
          <a class="active" href="listTask">LIST TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a href="">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>


<br>
	<div class="judul">
		<center>LIST TASK</center>
	</div>
{% if listTask %}
            <table id="list">
                
              <tr>
                <th>Request Code</th>
                <th>Title</th>
                <th>Request Name</th>
                <th>Department</th>
                <th>Request Date</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th></th>
              </tr>
             {% for row in  listTask %}
             
              <tr>
                <td>{{row['requestId']}}</td>
                <td>{{row['requestJudul']}}</td>
                <td>{{row['userName']}}</td>
                <td>{{row['requestKategori']}}</td>
                <td>{{row['requestTanggal']}}</td>
                <td>{{row['requestDeadline']}}</td>

                {% if row['requestPrioritas'] == '1' %}
                    <td> <a class ="pri1"> </a></td>
                    {% else %}
                    <td> <a class ="pri3"> </a></td>
                    {% endif %}
                



                {% if row['requestStatus'] == 'Finished' %}
                <td>Waiting to be Confirmed</td>
                {% elif row['requestStatus'] == 'On Process'%}
                <td> 
                    
                    <button id ="{{row['requestId']}}" class="submit" onclick= "click_process(this.id)" name="finishButton" value="{{row['requestId']}}">Finish</button>


                    <div id="modal{{row['requestId']}}" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <strong>{{row['requestId']}}</strong>
                        <p> Input Report Code : </p>
                    <form action ="/finishRequest" method = 'POST'>
                        <input name="kodLap" list="reqFin">

                        <datalist id="reqFin">
                          <!-- <select> -->
                          {% for row in listKodeLap %}
                            <option value="{{row['ReportId']}}">{{row['ReportId']}}</option>
                          {% endfor %}
                          <!-- </select> -->
                        </datalist>
                      
                      <!-- <div class="col-75" id="list_org">
                      <select name='kode'>
                        {% for row in listKodeLap %}
                        <option value="{{row[0]}}"></option>
                         {% endfor %}
                      </select>
                    </div> -->

                        
                        
                         <button name="finishReq" value ="{{row['requestId']}}"> OK </button>
                        </form>
                      </div>

                    </div>
                    
                </td>
                {% else %}
                <td>
                    <button class="submitOr" name="inputKode" value="{{row['requestId']}}">InputKode</button>
                {% endif %}
              </tr>
           {% endfor %}

            </table>

{% else %}

<p>Tidak ada task yg sedang dikerjakan </p>

{% endif %}

</body>
</html>
<script type="text/javascript">
// Get the modal

var btnProcess;
var modalItem;

// // When the user clicks on <span> (x), close the modal
function  closeModal() {
  modalItem.style.display = "none";
}

// // When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalItem) {
    modalItem.style.display = "none";
  }
}

function show_modal(modalId){

  modalItem = document.getElementById(modalId);
  modalItem.style.display = 'block';
}
function click_process(processId){
  show_modal('modal'+processId);
  //alert('modal'+processId);

}





//           BUAT FITUR SEARCH LAPORAN
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("list");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>