<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

	<title>Change Query</title>
</head>

<body bgcolor="#F0FFF0">
	<div class="topnav"><ul>
        <li><a href="admin">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTask">AVAILABLE TASK</a>
          <a href="listTask">LIST TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a class="active" href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a href="">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>

<br>
	<div class ="judul">
	  <center>CHANGE QUERY REPORT</center>
	</div>

<br><br>
<center>

  <div class="containEdit">
    <div class="tulisan" style="width: 350px; text-align: left;">
      <label for="kodLap"> Template:  </label>
      <form action="/editQuery" method = "POST">
        <select id= "report" name= "kodLap">
          {% for report in listKodeReportQuery %}
            <option name = "kodLap" value="{{report.reportId}}">{{report.reportId}}</option>
          {% endfor %}
        </select>
    </div>
<br><br><br><br>
    <div class="colBut">
		  <button class="submit"> Go </button> </div>
	</form>

  <div class="colBut">
	<form action="/menu">
		<button class="submitRed"> Cancel </button>
	</form>
  </div>
	
	
</center>
</body>
</html>