<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- <style>
  #myList {width: 200; list-style: none; margin: 0; auto 0 auto;}
  #myList li {list-style-type: none; float: left; width: 100px;}
  #myList li label{width: 200px; padding: 2px 10px 0 8px; display: inline-block;}
</style> -->

  <title> Edit Schedule </title>
</head>

<body bgcolor="#F0FFF0">
<div class="topnav"><ul>
        <li><a href="admin">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTask">AVAILABLE TASK</a>
          <a href="listTask">LIST TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a class="active" href="editSchedule">EDIT SCHEDULE</a>
          <a href="">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>

<br>
<div class ="judul">
  <center>Edit Schedule</center>
</div>


<form action="/editSchedule" method = 'POST'>

<center>
<div class ="containEdit">
  <center>
  <div class="tulisan" style="width: 350px; text-align: left;">
    <label for="kodeRep">Kode Report : </label>
    <input name="valKode" list="listKodeR">
    <datalist id="listKodeR">
      {% for row in listKodeLap %}
        <option value="{{row['reportId']}}"></option>
      {% endfor %}
    </datalist>
  </div>
  
<br><br><br><br>
 
    <button class="submit">OK</button>
  </center>

</div>
</form>
</center>

<br>


</center>



</body>
</html>
