 <html>
<head>
  <link rel="stylesheet" type="text/css" href="mainstyle.css">
  <title> Main Menu </title>

</head>
<body>

  <div class="nav">
    <ul>
      <li><a href="editSchedule.html">Home</a></li>
      <li>Master</li>
      <li>Task</li>
      <li>Template
        <ul>
            <li>New Template</li>
            <li>Query Template</li>
            <li>Finalisasi</li>
        </ul>
      </li>
      <li>Perubahan</li>
      <li>Preview</li>
      <li>Scheduling
        <ul>
            <li>Add Schedule</li>
            <li>Edit Schedule</li>
            <li>Run Schedule</li>
        </ul>
      </li>
      <li>List Report</li>
      <li>Log Off</li>
      <li>Keluar</li>
    </ul>
  </div>

  <section  class="sec1"></section>
  <section  class="sec2" >
      <h2> TESTTTTTTTTTTTT </h2>
      <p>
          fkldsafdsafjdsfjdsfkdajsflkadsjfadslfkjadslfkjadslfjldsakjfadslkfajdsflkdsajflkdsajfdsafjdslafjlkdsafjld
          sakjfldskjflkdsajfsdkafjdsalkfjldsakfjdsakfjsdkjfsdjfldsakjfldsakjflksdajflkdsajflds
        </p>
      </section>


</body>
</html>
