<html>
<head>
<link rel="stylesheet" 
  href="{{ url_for('static', filename='style.css') }}">

  <title> Preview Report </title>
</head>

<body bgcolor="#F0FFF0">

<div class ="judul">
  <center>PREVIEW REPORT</center>
</div>

<br><br><br>
<center>
<div class="containEdit">
<form action ="/preview" method = 'POST'>
  <div class="row">
      <div class="col-35">
        <label for="template">Template yang ingin di-preview  </label>
      </div>

      <div class="col-55">
          <select id="report"  name="kodLap">
              {% for row in kodeReportAdaQuery %}
              <option value="{{row.reportId}}">{{row.reportId}}</option>
              {% endfor %}
          </select>
      </div>
  </div>






<br><br>

<center>
<button class="submit">Preview</button>
</form>
<button class="submitred">Cancel</button>
</center>


</div> <!-- akhiran div containEdit -->
</center>




</body>
</html>
