<html>
<!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title> Edit Report </title>
</head>

<body bgcolor="#F0FFF0">

  <div class="topnav"><ul>
        <li><a href="menu">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
        <li><a href="task">TASK</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a class="active" href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a href="">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>
<br>

<div class ="judul">
  <center>EDIT TEMPLATE</center>
</div>

<div class="containInsert">
<form action="/prosesFormatTemplate" method="POST">



{% if detailTemplate %}


<div class ="row">
  <div class ="col-35">
    <label for="kodeReport">Kode Report : </label>
  </div>

  <div class="col-55">
        <input type="text" class = "col-10" id="kodeLaporan" name="kodLap" value="{{detailTemplate[0].reportId}}" style="width: 120px">
  </div>
</div>

<div class="row">
  <div class ="col-35">
    <label for="periode">Periode : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="periode" name="periode" value="{{detailTemplate[0].reportPeriode}}">
  </div>
</div>

<div class="row">
  <div class ="col-35">
    <label for="periode">Print All : </label>
  </div>

  <div class="row-55">
    <input type="text" class = "col-10" id="printAll" name="printAll" value="{{detailTemplate[0].reportPrintAll}}" style="width: 120px">
  </div>
</div>




<br><br>


<div class ="row">
  <div class ="col-35">
    <label for="namaReport">Nama Report : </label>
  </div>

  <div class="col-85">
    <input type="text" id="namaReport" name="namaReport" value="{{detailTemplate[0].reportJudul}}">
  </div>
</div>


<div class ="row">
  <div class ="col-35">
    <label for="jmlHeader">Jumlah Header : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="jmlHeader" name="jmlHeader" value="{{detailTemplate[0].reportHeader}}" style="width: 120px">
  </div>
</div>

<div class="row">
  <div class ="col-35">
    <label for="jmlFooter">Jumlah Footer : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="jmlFooter" name="jmlFooter" value="{{detailTemplate[0].reportFooter}}" style="width: 120px">
  </div>
</div>

<div class="row">
  <div class ="col-35">
    <label for="jmlKolom">Jumlah Kolom : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="jmlKolom" name="jmlKolom" value="{{detailTemplate[0].reportJmlTampilan}}" oninput="generateForm()">
  </div>
</div>

<div class="row">
  <div id="fieldKolom"></div>
  <div id="fieldPosisi"></div>
  <div id="fieldTipe"></div>
  <div id="fieldLetak"></div>
</div>

<div class ="row">
  <div class ="col-35">
    <label for="rataTengah">Kolom rata tengah : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="rataTengah" name="rataTengah" >
  </div>
</div>

<div class="row">
  <div class ="col-35">
    <label for="rataKanan">Kolom rata kanan : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="rataKanan" name="rataKanan">
  </div>
</div>
      
    <!-- <div id="containerq"/> -->
    

{% set x = detailTemplate[0].reportJmlTampilan %}


<!-- LOOPING KOLOM -->

 <!-- ENDFOR AWAL -->




{% for i in range (0, detailFormatTemplate|length) %}
<div class ="row">
  <div class =" col-35">
    <label for="kolom">Kolom {{i+1}} : </label>
  </div>
        
  <div class="col-55">
    <input type="text" class = "col-10" id="kol" name="{{i+1}}" value="{{detailFormatTemplate[i].namaKolomH}}">
  </div>
</div>
    
<div class="row">
  <div class="col-35">
    <select id="lok" class = "col-10" name="lokasi{{i+1}}">
      <option value="{{detailFormatTemplate[i].lokasiH}}">{{detailFormatTemplate[i].lokasiH}}</option>
      {% for row3 in detailFormatTemplate %}
      <option value="{{detailFormatTemplate[i][1]}}">{{row3.lokasiH}}</option>
      {% endfor %}
    </select>
  </div>


    <select id="format" class = "col-10" name="formatKolom{{i+1}}" value="{{detailFormatTemplate[i].formatKolomH}}">
      <option value="String">String</option>
      <option value="Integer">Integer</option>
      <option value="Decimal">Decimal</option>
      <option value="Percentage">Percentage</option>
      <option value="Date">Date</option>
      <option value="Time">Time</option>
      <option value="Datetime">Datetime</option>
    </select>



    <input type="text" class = "col-10" id="lebar" name="lebar{{i+1}}" value="{{detailFormatTemplate[i].lebarKolomH}}">
</div>


        

        


{% endfor %} 


 


      
{% for i in range(2) %}
<div class ="row">
  <div class ="col-35">
    <label for="footer">Footer {{i+1}} : </label>
  </div>

  <div class="col-55">
    <input type="text" class = "col-10" id="kolF" name="kolomFooter" >
  </div>
</div>

<!-- CHECKBOX UNTUK LETAK FOOTER -->
<div class ="myBox">
  <input type="checkbox" name="B{{i+1}}" value="B">B
  <input type="checkbox" name="C{{i+1}}" value="C">C
  <input type="checkbox" name="D{{i+1}}" value="D">D
  <input type="checkbox" name="E{{i+1}}" value="E">E
  <input type="checkbox" name="F{{i+1}}" value="F">F
  <input type="checkbox" name="G{{i+1}}" value="G">G
  <input type="checkbox" name="H{{i+1}}" value="H">H
  <input type="checkbox" name="I{{i+1}}" value="I">I
  <input type="checkbox" name="J{{i+1}}" value="J">J
  <input type="checkbox" name="K{{i+1}}" value="K">K
  <input type="checkbox" name="L{{i+1}}" value="L">L
  <input type="checkbox" name="M{{i+1}}" value="M">M
  <input type="checkbox" name="N{{i+1}}" value="N">N
</div>

{% endfor %}



 <!-- ENDFOR AWAL2 -->


<br><br><br>
<center>
  <div class="colBut">
<button class="submit"> SAVE </button></div>

</form>

<div class="colBut">
<form action="/admin"><button class="submitred"> CANCEL </button></form></div>
</center>


{% else %}

<br>

<center>



<h3> Template untuk kode Laporan: </h3>
<h2>{{kode_laporan}}</h2>
<h3> tidak ditemukan :( </h3>
</center>

{% endif %}

</div> <!-- akhiran div containInsert -->



{% block javascript %}

</div> <!-- akhiran div container -->
</body>

<script>

      var namaKolom = {'asdsa'}

      function generateForm()
      {
        

        var FormKolom = "";
        var FormPosisi = "";
        var FormTipe = "";
        var FormLetak = "";
        var fieldCount = document.getElementById("jmlKolom").value;
 
        console.log(fieldCount);
        for (i = 1; i <= fieldCount; i++)
        {
        
          FormKolom += "<div><b>Kolom " + i + ":</b><br><input type='text' id='kolom" + i + "' name='kolom" + i + "' style='width:200px;'/></div>\n";
       
          FormPosisi += "<div><b>Posisi " + i + ":</b><br><select name='posisi" + i + "' '><option value='B6'>B6</option><option value='B7'>B7</option><option value='C6'>C6</option><option value='C7'>C7</option><option value='D6'>D6</option><option value='D7'>D7</option><option value='E6'>E6</option><option value='E7'>E7</option><option value='F6'>F6</option><option value='F7'>F7</option><option value='G6'>G6</option><option value='G7'>G7</option><option value='H6'>H6</option><option value='H7'>H7</option><option value='I6'>I6</option><option value='I7'>I7</option><option value='J6'>J6</option><option value='J7'>J7</option><option value='K6'>K6</option><option value='K7'>K7</option><option value='L6'>L6</option><option value='L7'>L7</option><option value='M6'>M6</option><option value='M7'>M7</option><option value='N6'>N6</option><option value='N7'>N7</option></select></div>\n";

          FormTipe += "<div><b>Tipe " + i + ":</b><br><select name='tipe" + i + "' '><option value='String'>String</option><option value='Integer'>Integer</option><option value='Decimal'>Decimal</option><option value='Percentage'>Percentage</option><option value='Date'>Date</option><option value='Time'>Time</option><option value='Datetime'>Datetime</option></select></div>\n";

          FormLetak += "<div><b>Letak " + i + ":</b><br><input type='text' id='letak" + i + "' name='letak" + i + "' style='width:200px;'/></div>\n";
          

        }
        document.getElementById("fieldKolom").innerHTML = FormKolom;
        document.getElementById("fieldPosisi").innerHTML = FormPosisi;
        document.getElementById("fieldTipe").innerHTML = FormTipe;
        document.getElementById("fieldTipe").innerHTML = FormLetak;
      }




      function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // containerq <div> where dynamic content will be placed
            var containerq = document.getElementById("containerq");
            // Clear previous contents of the containerq
            while (containerq.hasChildNodes()) {
                containerq.removeChild(containerq.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                containerq.appendChild(document.createTextNode("Member " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "member" + i;
                containerq.appendChild(input);
                // Append a line break 
                containerq.appendChild(document.createElement("br"));
            }
        }
    </script>


{% endblock %}

  </html>
